#root {
    max-width: 100vw;
}
.carousel-container {
    flex-grow: 1;
    overflow: auto; /* Allows scrolling within the carousel if content exceeds its height */
}
.carousel-image {
    height: 60vh;
    object-fit: contain;
}